{% extends "base_generic.html" %}

{% block content %}
	<h1>Book List</h1>
	<hr>

    {% if my_book_list %}
    <ul>

      {% for book in my_book_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}}) - (<a href="{% url 'book_delete' book.id %}">Delete</a>
        / <a href="{% url 'book_update' book.id %}">Update</a>)
      </li>
      {% endfor %}
      <br>
      <a style="font-size: 20px;" href="{% url 'book_create' %}">Create new book</a>

    </ul>
    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}